<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Tuma itaú 7 A <h1>AULLAAAAAAAAAA</h1> <%= title %></p>
  </body>
</html>
